{
  "openapi": "3.0.0",
  "info": {
      "version": "1.0",
      "title": "SmartCosmeticsBackend API",
      "description":"This is REST API of SmartCosmetics project",
      "contact": {
          "email":"teremalex@protonmail.com"
        },
      "license": {
          "name": "MIT"
      }
  },
  "servers": [
      {
          "url": "https://mobile.smartcosmetics.com/v1"
      }
  ],
  "paths": {
      "/recommendations":{
          "get":{
              "summary": "Download list of recommendations to show on profile screen",
              "responses": {
                  "200":{
                      "description": "Successfull request with list of recommended products",
                      "content":{
                          "application-json":{
                              "schema":{
                                  "$ref":"#/components/schemas/RecommendedProduct"
                              }
                          }
                      }
                  }
              }
          }
      },
      "/scan": {
          "post": {
              "summary": "Send binary data of jpeg image for scanning",
              "requestBody": {
                  "content": {
                      "application/octet-stream": {
                          "schema": {
                              "type": "string",
                              "format": "binary"
                          }
                      }
                  }
              },
              "responses": {
                  "200": {
                      "description": "Results of scanning and recognition",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/responses/ScanResponse"
                              }
                          }
                      }
                  }
              }
          }
      }
  },
  "components": {
      "schemas": {
          "ScanResponse": {
              "type": "object",
              "properties": {
                  "product_info": {
                      "$ref": "#/components/schemas/Product"
                  },
                  "ingredients_list": {
                      "type": "array",
                      "items": {
                          "$ref": "#/components/schemas/Ingredient"
                      }
                  }
              },
              "example": {
                  "$ref": "#/components/examples/ScanResponse-example"
              }
          },
          "RecommendedProduct":{
            "type": "object",
            "properties": {
                "uuid":{
                    "type": "string",
                    "description": "unique use id"
                },
                "title":{
                    "type": "string"
                },
                "about":{
                    "type": "string"
                },
                "image":{
                    "type": "string"
                },
                "link":{
                    "type": "string"
                }
            },
            "example":{
                "$ref":"#/components/examples/Recommended-example"
            }
          },
          "Product": {
              "type": "object",
              "required": [
                  "uuid"
              ],
              "properties": {
                  "uuid": {
                      "type": "string"
                  },
                  "title": {
                      "type": "string"
                  },
                  "type": {
                      "type": "string"
                  },
                  "about": {
                      "type": "string"
                  },
                  "price": {
                      "type": "integer"
                  },
                  "expiry_date": {
                      "type": "integer"
                  },
                  "scanning_date": {
                      "type": "integer"
                  },
                  "alarm_date": {
                      "type": "integer"
                  },
                  "image": {
                      "type": "string"
                  }
              },
              "example": {
                  "$ref": "#/components/examples/Product-example"
              }
          },
          "Ingredient": {
              "type": "object",
              "properties": {
                  "title": {
                      "type": "string"
                  },
                  "about": {
                      "type": "string"
                  },
                  "hazard_level": {
                      "type": "integer"
                  }
              },
              "example": {
                  "$ref": "#/components/examples/Ingredient-example"
              }
          }
      },
      "responses": {
          "ScanResponse": {
              "description": "Response for uploaded image for scaning purpose",
              "content": {
                  "application/json": {
                      "schema": {
                          "$ref": "#/components/schemas/ScanResponse"
                      }
                  }
              }
          }
      },
      "examples": {
          "ScanResponse-example": {
              "summary": "example of a response after image was uploaded",
              "value": {
                  "uuid": "123e4567-e89b-12d3-a456-426655440000",
                  "title": "The best Lipstick",
                  "type": "lipstick",
                  "about": "Descriptipon of product",
                  "price": 300,
                  "expiry_date": 1587476654,
                  "scanning_date": 1587476654,
                  "alarm_date": 1587476654,
                  "image": "https://pngimage.net/wp-content/uploads/2018/05/face-png.png"
              }
          },
          "Recommended-example":{
              "summary": "excample of recommended product to show on profile screen",
              "value":{
                "uuid": "123e4567-e89b-12d3-a456-426655440000",
                "title": "The best Lipstick",
                "about": "Descriptipon of product",
                "image": "https://pngimage.net/wp-content/uploads/2018/05/face-png.png",
                "link":"https://www.smartcosmetics.com/showProduct?uuid=123e4567-e89b-12d3-a456-426655440000"
            }
          },
          "Product-example": {
              "summary": "example of a product",
              "value": {
                  "uuid": "123e4567-e89b-12d3-a456-426655440000",
                  "title": "The best Lipstick",
                  "type": "lipstick",
                  "about": "Descriptipon of product",
                  "price": 300,
                  "expiry_date": 1587476654,
                  "scanning_date": 1587476654,
                  "alarm_date": 1587476654,
                  "image": "https://pngimage.net/wp-content/uploads/2018/05/face-png.png"
              }
          },
          "Ingredient-example": {
              "summary": "example of ingredient",
              "value": {
                  "title": "AQUA/WATER",
                  "about": "Simple H2O which you can find anywhere in this world",
                  "hazard": 0
              }
          }
      }
  }
}